{% extends 'base_layout.html' %}

{%load static%}

{%block script%}

{%endblock%}

{% block title%}main{%endblock%}
{% block header%}
<div class="header">
    <nav>

    </nav>
</div>
{%endblock%}
{% block content%}

<div class="content">
    <h1>사이버 연세대 고려대 교류전</h1>
    <li>
        <p>고려대 현재 총 {{koreapoint}}점</p>
        <p>연세대 현재 총 {{yonseipoint}}점</p>
        {% if koreapoint > yonseipoint %}
        <ul><img src="{%static 'img/victory_korea'%}" alt="">현재 고려대가 우세합니다! </ul>
        {%else%}
        <ul><img src="{%static 'img/victory_yonsei'%}" alt="">현재 연세대가 우세합니다! </ul>
        {%endif%}
    </li>
    <div class="games">
        <div class="problems">
            <li class="problems">        
            <a href="{%url 'mainapp:problems_list' %}">문제들을 풀어봐요</a>
            <form action="{%url 'mainapp:main'%}" method="POST">
            <a href="https://gadamer1.pythonanywhere.com">던전을 빨리 클리어해주세요</a>
            <p>보물코드 입력시 200p 획득</p>
            {%csrf_token%}
            {{form}}
            <input type="submit" value="확인">
            </form>
            {% if flag %}
            <div id="some_flag" title="Some Flag">
                <p>틀렸습니다</p>
            </div>
            {% endif %}
            </li>
            </div>
            {% if alert%}
            <div class="alert">
                <p>두번 이상은 문제를 풀 수 없습니다.</p>
            </div>
            {% endif%}
            </li>
        </div>
    </div>

    {% if user.is_authenticated%}
    <div class="comment form">
        <form action="{%url 'mainapp:main'%}" method="POST">
            {%csrf_token%}
            {{reply_form}}
            <input type="submit" value="응원하기">
        </form>
    </div>
    {%endif%}
    <h3>응원댓글달기</h3>
    <div class="comment">
            {% for comment in comments%}
            <ul>{{comment.author}}</ul>
            <ul>{{comment.contents}}</ul>
            <ul>{{comment.created_date}}</ul>
            {%endfor%}
        </div>
    {# pagination #}
    <nav class="pagination">
        <ul class="pagination">
        {% if comments.has_previous %}
            <li>
                <a href="?page={{ page_start_index }}">
                    <span>Prev</span>
                </a>
            </li>
        {% endif %}

        {% for i in page_range %}
            {% if i == comments.number %}
            <li class="active-none"><span>{{ i }}</span></li>
            {% else %}
            <li class="active-href">
                <span><a href="?page={{ i }}">{{i}}</a></span>
            </li>
            {% endif %}
        {% endfor %}
        {% if comments.has_next %}
            <li class="active-href">
                <a href="?page={{ page_end_index}}">
                    <span>Next</span>
            </a>
            </li>
        {%endif%}
</div>

{%endblock%}