{% extends 'base_layout.html' %}

{%load static%}

{%block script%}

{%endblock%}

{% block title%}ranking{%endblock%}



{% block content%}

<div class="content">
        <h1>랭킹</h1>
        <li class="rank">
          <p class="korea">고려대
            <ul>총 점수:{{koreapoints}}</ul>
            <ul>문제 점수:{{p_koreapoints}}</ul>
            <ul>던전 점수:{{d_koreapoints}}</ul>
            <div class="container">
              <div class="col-sm-6">
                <div class="card" style="width: 20rem;">
                  <div class="card-body">
                    <h5 class="card-title">
                      고려대 문제 분야 랭커
                    </h5>
                    <ul class="list-group list-group-flush">
                      {% for ranker in p_korea_ranker%}
                      <li class="list-group-item">{{ranker.user}} : {{ranker.problems_point}}</li>
                      {% endfor%}
                  </div>
                </div>
                <div class="card" style="width: 20rem;">
                  <div class="card-body">
                    <h5 class="card-title">
                      고려대 던전 분야 랭커
                    </h5>
                    <ul class="list-group list-group-flush">
                      {% for ranker in d_korea_ranker%}
                      <li class="list-group-item">{{ranker.user}} : {{ranker.dungeon_point}}</li>
                      {% endfor%}
                  </div>
                </div>
              </div>
            </div>
            </p>
            <p class="yonsei">연세대
              <ul>총 점수:{{yonseipoints}}</ul>
              <ul>문제 점수:{{p_yonseipoints}}</ul>
              <ul>던전 점수:{{d_yonseipoints}}</ul>
              <div class="container">
                <div class="col-sm-6">
                  <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <h5 class="card-title">
                        연세대 문제 분야 랭커
                      </h5>
                      <ul class="list-group list-group-flush">
                        {% for ranker in p_yonsei_ranker%}
                        <li class="list-group-item">{{ranker.user}} : {{ranker.problems_point}}</li>
                        {% endfor%}
                    </div>
                  </div>
                  <div class="card" style="width: 20rem;">
                    <div class="card-body">
                      <h5 class="card-title">
                        연세대 던전 분야 랭커
                      </h5>
                      <ul class="list-group list-group-flush">
                        {% for ranker in d_yonsei_ranker%}
                        <li class="list-group-item">{{ranker.user}} : {{ranker.dungeon_point}}</li>
                        {% endfor%}
                    </div>
                  </div>
                </div>
              </div>
        </p>
        </li>
      </div>
{%endblock%}
