{% extends 'base_layout.html'%}
{% load static %}
{%block script%}

{%endblock%}

{% block title%}problems{%endblock%}



{% block content%}

<div class="content">
    <h1>내 정보</h1>
    <li class="mypage">
        
        {% if profile.univ == 'korea' %}
        <img src="{%static 'img/korea.png'%}" alt="" style="width: 300;">
        <ul>대학교:{{profile.univ}}</ul>
        {% elif profile.univ == 'yonsei' %}
        <img src="{%static 'img/yonsei.png'%}" alt="" style="width: 300;">
        <ul>대학교:{{profile.univ}}</ul>
        {% endif%}
        <ul>문제 점수:{{profile.problems_point}}</ul>
        <ul>던전 탐험 점수:{{profile.dungeon_point}}</ul>
    </li>
</div>
{%endblock%}
