{% extends 'base_layout.html'%}
{% load static %}
{%block script%}

{%endblock%}

{% block title%}problems{%endblock%}



{% block content%}

<div class="content">
        <div class="container">
            <div class="col-sm-6">
              <div class="card" style="width: 40rem;">
                {% if profile.univ == 'korea' %}
                <img class="card-img-top" src="{%static 'img/korea.png'%}" alt="Card image cap" style="width:100%">
                {% elif profile.univ == 'yonsei' %}
                <img class="card-img-top" src="{%static 'img/yonsei.png'%}" alt="Card image cap" style="width:100%">
                {%endif%}
                <div class="card-body">
                  <h5 class="card-title">점수</h5>
                    <p class="card-text">문제 점수:{{profile.problems_point}}</p>
                  <p class="card-text">던전 탐험 점수:{{profile.dungeon_point}}</p>
                </div>
              </div>
          </div>
        </div>
      </div>
{%endblock%}
